@page "/"

<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <style>
    </style>

</head>

<body lang=EN-US style='word-wrap:break-word'>

    <div class=WordSection1>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>
            <img id="Picture 2" src="images/home.image001.png">
        </p>

        <p class=MsoNormal>
            <b>
                <span style='font-size:22.0pt;line-height:115%;color:#4E95D9'>Clio Research Inc.</span>
            </b>
        </p>

        <p class=MsoNormal>
            <span style='font-size:18.0pt;line-height:115%'>
                Research,
                development, consulting
            </span>
        </p>

        <p class=MsoNormal>&nbsp;</p>

    </div>
  </body>
</html>
