
<input class="form-control me-2 text-secondary w-100 h-50 mt-3" type="search" placeholder="Search..." aria-label="Search" style="border-radius:24px;">

<div class="dropdown h-50 mt-3 px-3">
    <a class="btn btn-link text-success dropdown-toggle" style="text-decoration:none" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Account
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li>
            <a class="dropdown-item text-warning" href="#">
                <i class="bi bi-send-exclamation px-2"></i>
                Report Issue
            </a>
        </li>
        <li>
            <a class="dropdown-item text-info" href="#">
                <i class="bi bi-person-gear px-2"></i>
                Update Profile
            </a>
        </li>
        <li>
            <a class="dropdown-item text-danger" href="#">
                <i class="bi bi-box-arrow-left px-2"></i>
                Logout
            </a>
        </li>
    </ul>
</div>

