<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target name="file" xsi:type="File"
              fileName="${basedir}/Logs/${shortdate}/BlazorMultiCrudApp.log"
              layout="${time}${uppercase:${level}}|${message} ${exception:format=tostring}"
              archiveOldFileOnStartup="true"/>
    <target name="console" xsi:type="ColoredConsole" layout="${time}${uppercase:${level}}|${message} ${exception:format=tostring}" />
    <target name="debugger" xsi:type="Debugger" layout="${time}${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,file,debugger" />
  </rules>
</nlog>
