<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/humanistic-base.css">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="docs.css" />
    <link rel="stylesheet" href="BlazorMultiCrudApp.Mk2.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/BlazorStrap/popper.min.js"></script>
</body>

</html>




@* 



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/humanistic-base.css">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorMultiCrudApp.Mk2.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
  
    <link href="bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/NetcodeHub.Packages.UI.Templates.Breeze/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/NetcodeHub.Packages.UI.Templates.Breeze/css/style.css" />
    <link rel="stylesheet" href="_content/NetcodeHub.Packages.UI.Templates.Breeze/icon/materialdesignicons.min.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_content/NetcodeHub.Packages.UI.Templates.Breeze/js/bootstrap.bundle.min.js"></script>
    <script src="_content/NetcodeHub.Packages.UI.Templates.Breeze/js/base.js"></script>
    <script src="_content/NetcodeHub.Packages.UI.Templates.Breeze/js/settings.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
 *@